<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ch">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/static/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/userInfo/relgoods.css}"/>
    <script type="text/javascript" th:src="@{/static/layui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/vue.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/userInfo/ckplayer.js}"></script>
    <title>校园二手交易商城 | 发布商品</title>
    <script th:inline="javascript">
        var basePath = [[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];
    </script>
</head>
<body style="background-color:white">
<form class="layui-form" id="goodsform" style="margin-top: 10px">
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red">*</span>Trade name</label>
        <div class="layui-input-block">
            <input type="text" name="commname" lay-verify="required" autocomplete="off" placeholder="Please enter the product name"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label"><span style="color: red">*</span>Product description</label>
        <div class="layui-input-block">
            <textarea placeholder="Please input the description of the product (brand, model, degree of new and old, starting channel, reason for changing hands...)" name="commdesc" lay-verify="required" autocomplete="off"
                      class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Product video</label>
        <div class="layui-inline">
            <button type="button" class="layui-btn" id="test1">Upload video</button>
        </div>
    </div>
    <div class="videosamplex" id="videosamplex" style="width:600px;height:400px;margin-left:100px;margin-bottom:15px;display: none">
        <video id="videoplayer"></video>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">Original price of product</label>
        <div class="layui-input-block">
            <input type="number" name="orimoney" autocomplete="off" placeholder="Please enter the original price of the product"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label"><span style="color: red">*</span>Favored price of the product</label>
        <div class="layui-input-block">
            <input type="number" name="thinkmoney" lay-verify="required" autocomplete="off" placeholder="Please enter your favored price of the product"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red">*</span>Commodity category</label>
        <div class="layui-input-block">
            <select name="category" lay-filter="required">
                <option value="3C Product" selected="">3C Product</option>
                <option value="Book">Book</option>
                <option value="Daily necessities">Daily necessities</option>
                <option value="Clothes">Clothes</option>
                <option value="Makeup">Makeup</option>
                <option value="Transportation">Transportation</option>
                <option value="Other">Other</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red">*</span>Common options</label>
        <div class="layui-input-block">
            <input type="radio" name="common" value="No bargain" title="No bargain" checked="">
            <input type="radio" name="common" value="Price Negotiable" title="Price Negotiable">
            <input type="radio" name="common2" value="Mail the product" title="Mail the product" checked="">
            <input type="radio" name="common2" value="Take the product offline" title="Take the product offline">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red">*</span>Main map of commodities</label>
        <div class="layui-inline">
            <button type="button" class="layui-btn" id="test2">Upload main image</button>
        </div>
    </div>
    <div id="mainimage" style="display: none;margin-left:100px;margin-bottom:10px">
        <img :src="mainimg" style="width:300px;height:200px;cursor: pointer" id="imageurl"
             @click="openimg(mainimg)">
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red">*</span>Other pictures of commodities</label>
        <div class="layui-inline">
            <button type="button" class="layui-btn" id="test3">Upload other pictures (up to 3)</button>
        </div>
    </div>
    <div id="otherimages" style="margin-top:0px;display: none;margin-left:100px;margin-bottom:10px">
        <div class="imgDiv" v-for="(img,index) in listimages"
             :key="index" :id="'img'+index" @mouseover="mouseOver(index)" @mouseleave="mouseLeave(index)">
            <img :src="img.imgsrc" style="width:300px;height:200px;cursor: pointer"
                 @click="openimg(img.imgsrc)">
            <img th:src="@{/static/images/close.png}" class="delete"
                 @click="delimage(index)" :id="'del'+index" style="cursor: pointer">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-block" style="color:#C62F2F">
            <p>Warm tip: do not publish any goods involving politics, advertising, marketing, violation of national laws and regulations.</p>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" id="demo1" lay-filter="demo1">Submit modification</button>
        </div>
    </div>
</form>
</body>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/js/userInfo/relgoods.js}"></script>
</html>